:root {
    --body-bkg: white;
    --body-color: black;
    --color-black: #000;
    --color-gray-drk: #787C7E;
    --color-green-on: #538D4E;
    --color-gray-light: #c3c9cc;
}

[data-theme="dark"] {
    --body-bkg: #282C34;
    --body-color: #F8F8F8;
}


.dark-mode-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left: .5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray-light);
    border-radius: 25px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  /* When checked, change background color */
  .switch input:checked + .slider {
    background-color: var(--color-green-on);
  }
  
  /* When checked, move the circle */
  .switch input:checked + .slider:before {
    transform: translateX(25px);
  }