.gt-quote-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #921d1d;
    width: 50em;
}

.gt-quote-box {
    border-radius: .5rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-weight: 500;
    font-size: 1.5rem;
}

.quote-author {
    padding-top: 20px;
    font-size: 1em;    
}

.gt-footer {
    display: flex;
    flex-direction: row;
    margin: 1em 3em;
    justify-content: end;
    padding: 1em;
}

.gt-footer > button {
    padding: .5rem;
    font-size: 1.25rem;
}