.theme-container {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border: 1px solid ghostwhite;    
}

.theme-container > header {
    display: flex;
    height: 5rem;
    align-items: center;
    padding-left: 1rem;
}

.theme-container > header > h1 {
    margin: 0;
}

.theme-container > header.dark-theme {
    background-color: #075985;
    color: #E0F2FE;
}

.theme-container > header.light-theme {
    background-color: #E0F2FE;
    color: #0C4A6E;
}

.theme-container.dark-theme {
    background-color: #0C4A6E;
    color: #F0F9FF;
}

.theme-container.light-theme {
    background-color: #F0F9FF;
    color: #0C4A6E;
}

.theme-container > button {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 6px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 2rem 0 2rem 1rem;
}

.theme-container > button:focus {
    outline: none;
}

.theme-container > button.dark-theme {
    border: 1px solid #F0F9FF;
    background-color: #0C4A6E;
    color: #F0F9FF;
}

.theme-container > button.light-theme {
    border: 1px solid #0C4A6E;
    background-color: #F0F9FF;
    color: #0C4A6E;    
}