:root {
  --body-bkg: #FFF;
  --body-color: #000;

}

[data-theme="dark"] {
  --body-bkg: #282C34;
  --body-color: #F8F8F8;
}

body {
  background-color: var(--body-bkg);
  color: var(--body-color);
}

.container {
  width: 100%;
}

.nav-bar {
  display:flex;
  flex-direction: column;
  margin: 1em;
  padding: .5em;
  
}

.nav-bar-dropdown {
  display: flex;
  flex-direction: column;  
}

.nav-bar a {
  text-decoration: none;
  color: #DDD;
  font-family: 'Inter', sans-serif;
  font-size: 1.25em;
  cursor: pointer;
  transition: 0.5s;
}

.nav-bar a:hover {
  opacity: .5;
}
