.travel-journal-container {
    font-family: "Inter", serif;
    background-color: rgb(236, 236, 229);
    color: black;
}

.travel-journal-container header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 4rem;
}

.travel-journal-container header > img {
    width: 1.5rem;
    margin-right: .5rem;
}

.travel-journal-container header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.travel-journal-container article.journal-entry {
    display: flex;
    margin-bottom: 1rem;
}

.travel-journal-container article.journal-entry .marker {
    width: 1rem;
    margin-right: .33em;
}

.travel-journal-container article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

.travel-journal-container article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #cbc5f3;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}