:root {
    color-scheme: light;
    --body-bkg: #FFF;
    --body-color: #000;    
}

[data-theme="dark"] {
    color-scheme: dark;
    --body-bkg: #282C34;
    --body-color: #F8F8F8;
}

[data-theme="light"] {
    color-scheme: light;
    --body-bkg: #F8F8F8;
    --body-color: #282C34;
}

html, body { height: 100%; }

body {
    /* background: red !important; */
    margin: 0;
    background-color: var(--body-bkg);
    color: var(--body-color);
}

.container { width: 100% }

/* Theme Switch*/

.theme-btn { margin-top: 1rem; }